<%- include('../partials/header') %>


<table id="list">
    <thead>
        <tr>
        <p> Comming soon
        </p>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

    <%- include('../partials/footer') %>